* {
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
html:focus-within {
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 0.2em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden !important;
  font-size: 16px;
  color: #161c2d;
}
a {
  text-decoration: none;
}
/* topbar start */
.topbar {
  background-color: #292c3d;
  color: #929393;
  padding: 13px 0px;
}
.topbar ul,
.topbar p {
  margin: 0;
  font-size: 15px;
}
.topbar a {
  color: #929393;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-underline-position: under;
}

.topbar .form-select {
  background-color: transparent;
  color: #929393;
  border: none;
  padding: 0px 1rem;
  background-image: url("../img/dropdown.svg");
}

/* topbar end */
/* // being header */
header {
  background-color: #34364b;
  padding: 1.31em 0px;
}
header .container .row {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding-left: 15px;
  padding-right: 15px;
  height: 70px;
}
.logo {
  display: flex;
}

.logo h2 {
  color: #ffffff;
  font-size: 1.5rem;
}
.logo-name {
  font-family: "Pacifico", cursive;
}
.search-wrapper .col-auto {
  margin-top: 0;
}
.search-wrapper .form-select {
  background-color: #edeeef;
  max-width: 136px;
  width: 100%;
  font-size: 0.75rem;
  border-radius: 4px 0 0 4px;
  border: none;
  padding: 0.55rem 0.75rem;
  -webkit-padding-end: 30px !important;
  -webkit-padding-start: 10px !important;
}
.search-wrapper .form-control {
  background-color: #ffffff;
  max-width: 585px;
  width: 100%;
  font-size: 0.75rem;
  border-radius: 0px;
  border: none;
  padding: 0.55rem 0.75rem;
}
.search-wrapper button {
  border: none;
  padding: 0.54rem 0.75rem;
  background-color: #feb63c;
  font-size: 0.75rem;
  color: #292c3d;
  border-radius: 0 4px 4px 0;
  transition: all 0.5s ease-in-out;
  border: 1px solid #feb63c;
}
.search-wrapper button:hover {
  box-shadow: 79px 0px 12px #292c3d inset;
  color: #feb63c;
}
.fillHeart,
.fillCart {
  display: none;
}
.user-account {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}
.user-account li svg {
  fill: #ffffff;
}
/* // end header */
/* // being navigation */
.navbar-nav .nav-item {
  position: relative;
}
.navbar-nav .nav-link {
  position: relative;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  color: #292c3d !important;
}
.navbar-nav .nav-link.active:after,
.navbar-nav .nav-link:after {
  content: "";
  position: absolute;
  width: 0px;
  height: 2px;
  background-color: #f27560;
  left: 0px;
  bottom: 0px;
  transition: all 0.5s ease-in-out;
}
.navbar-nav .nav-link.active:after,
.navbar-nav .nav-link:hover:after {
  width: 100%;
}
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: #f27560;
}
/* // end navigation */
/* // being slider-banner */

/* // end slider-banner */
/* // being banner */
.banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 545px;
  border-radius: 3px;
  position: relative;
  padding: 30px;
  outline: 1px solid #fff;
  outline-offset: -15px;
  display: flex;
  align-items: flex-end;
  justify-self: center;
}
.banner .label {
  position: relative;
}
.banner .label:before {
  content: "";
  background-color: #ffffff;
  border-radius: 0;
  max-width: 150px;
  width: 100%;
  margin: 0 auto;
}

.banner .label:hover small {
  color: #ffffff;
}
.banner small {
  display: inline-block;
  font-size: 16px;
  /* background-color: #ffffff; */
  padding: 0.55em 0.85em;
  font-weight: 700;
  color: #222537;
}
.banner h2 {
  font-size: 35px;
  color: #fff;
  font-weight: normal;
  margin-bottom: 10px;
  font-weight: 700;
}
.banner a {
  color: #ffffff;
}
/* // end banner */
/* // being Category */
.categories-container {
  padding: 1em 0;
}
.categories h5 {
  color: #292c3d;
  font-size: 1em;
  min-height: 38px;
}
.categories h6 {
  color: #bbbcbb;
  font-size: 0.75em;
}
.category-box {
  display: flex;
  justify-content: content;
  align-items: center;
  flex-direction: column;
  padding: 1em 2em;
  text-align: center;
}
.category-box:hover {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.category-icon {
  width: 4em;
  height: 4em;
  background-color: #292c3d;
  border-radius: 999px;
  display: flex;
  margin-bottom: 1em;
}

/* // end Category */
/* being list-product */
.list-product {
  max-width: 220px;
  position: relative;
  margin: 0px;
  padding: 5px;
}
.list-product .wishlist {
  position: absolute;
  top: 0.5rem;
  right: 0.85rem;
  z-index: 9;
}
.list-product .wishlist .emptyHeart {
  fill: #c9caca;
}
.list-product .wishlist .fillHeart {
  fill: #feb63c;
}
.list-product .thumbnail {
  background-color: #f4f5f8;
  padding-top: 25px;
  padding-bottom: 25px;
  overflow: hidden;
}
.list-product:hover .thumbnail img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.list-product .thumbnail img {
  width: 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.list-product-caption {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.list-product-caption h2 {
  font-size: 1rem;
  font-weight: 600;
}
.list-product-caption .rating {
  color: #bbbcbb;
}
.list-product-caption .rating .fas {
  color: #feb63c;
}
.list-product-caption .rating .far {
  color: #bbbcbb;
}
.list-product-caption .price s {
  color: #bbbcbb;
  font-size: 0.75rem;
}
/* end list-product */
/* // being blog section */
.blog-section {
  padding: 2rem 0;
}
.single-blog.card {
  padding: 0;
  border: none;
  background: none;
}
.single-blog.card .card-body {
  padding: 0;
}
.single-blog.card .card-body .card-img-top {
  border-radius: 6px;
  width: 100%;
}
.single-blog.card .card-body a.d-block {
  overflow: hidden;
}
.single-blog.card .card-body a.d-block img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.single-blog.card .card-body a.d-block:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.single-blog.card h5.card-title a {
  color: #222;
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  position: relative;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.admin-post {
  margin: 0;
  padding: 0;
}
.admin-post li {
  display: inline-block;
  margin-right: 15px;
}
.admin-post li span.fas {
  opacity: 0.5;
  width: 15px;
  vertical-align: 0.5px;
}
ul.admin-post li p {
  margin: 0px;
  padding: 0px;
}

ul.admin-post li a,
ul.admin-post li p {
  color: #666;
  font-size: 16px;
}
/* // end blog section */
/* // being our-brand */
.our-brand {
  padding: 1em 0;
  background-color: #f5f5f530;
}
.our-brand .swiper-slide {
  padding: 2em;
}
/* // end our-brand */
/* // being footer */
.footer {
  background-color: #34364b;
  padding: 25px 0px;
  color: #bbbcbb;
}
.footer-topper.border-bottom {
  border-bottom: 1px solid #4f5563 !important;
}
.footer-topper .search-wrapper button:hover {
  box-shadow: 95px 0px 12px #292c3d inset;
}
.footer p,
.footer ul {
  margin-bottom: 0;
}
.footer h5 {
  color: #ffffff;
  font-size: 1em;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0px;
  padding-bottom: 1em;
}

.footer ul li {
  margin-bottom: 0.55em;
}
.footer address,
.footer p,
.footer ul li a {
  display: flex;
  color: #929393;
  font-size: 0.85em;
}
.footer ul li a:hover {
  text-decoration: none;
  color: #feb63c;
}
.telephone-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.8s ease-in-out;
}

.telephone-sec i {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
}

.telephone-sec a {
  font-size: 1.2em;
  color: #fff;
  font-weight: 600;
}
.btn-transform-effect.footer-top-icon {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 46px;
  height: 46px;
}
.btn-transform-effect.footer-top-icon:before {
  background-color: #feb63c;
  width: 46px;
  height: 46px;
}
.btn-transform-effect.footer-top-icon:hover i {
  color: #feb63c;
}
.telephone-sec:hover a {
  color: #feb63c;
}
/* // end footer */
/* // being footerBottom */
.footerBottom {
  background-color: #222537;
  padding: 17px 0px;
  color: #929393;
}
.footerBottom p,
.footerBottom ul {
  margin-bottom: 0;
}
.footerBottom ul li a {
  display: flex;
  color: #f5f5f5;
  position: relative;
  z-index: 1;
  width: 28px;
  height: 28px;
  justify-content: center;
  align-items: center;
  font-size: 0.85em;
}

.footerBottom ul li a.instagram:before {
  background-color: #c13c77;
}
.footerBottom ul li a.twitter:before {
  background-color: #21a1e4;
}
.footerBottom ul li a.linkedin:before {
  background-color: #1e6ab3;
}
.footerBottom ul li a.facebook:before {
  background-color: #49658f;
}
.footerBottom ul li a.youtube:before {
  background-color: #ef2b0f;
}

.footerBottom ul li a:hover i,
.footerBottom ul li a:focus i {
  color: #34364b;
}
.footerBottom ul li a.instagram:hover i,
.footerBottom ul li a.instagram:focus i {
  color: #feb63c;
}
.footerBottom ul li a.twitter:hover i,
.footerBottom ul li a.twitter:focus i {
  color: #21a1e4;
}
.footerBottom ul li a.linkedin:hover i,
.footerBottom ul li a.linkedin:focus i {
  color: #21a1e4;
}
.footerBottom ul li a.facebook:hover i,
.footerBottom ul li a.facebook:focus i {
  color: #49658f;
}
.footerBottom ul li a.youtube:hover i,
.footerBottom ul li a.youtube:focus i {
  color: #ef2b0f;
}
/* // end footerBottom */
/* helper */
#loader {
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  bottom: 0px;
  z-index: 9;
}
/* spinner */
.spinner {
  width: 100px;
  height: 100px;
  position: relative;
}
.spinner div {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 8px solid transparent;
  border-top-color: #feb63c;
  border-radius: 50%;
  animation: spinnerOne 1.2s linear infinite;
}
.spinner div:nth-child(2) {
  border: 8px solid transparent;
  border-bottom-color: #feb63c;
  animation: spinnerTwo 1.2s linear infinite;
}

@keyframes spinnerOne {
  0% {
    transform: rotate(0deg);
    border-width: 10px;
  }
  50% {
    transform: rotate(180deg);
    border-width: 1px;
  }
  100% {
    transform: rotate(360deg);
    border-width: 10px;
  }
}
@keyframes spinnerTwo {
  0% {
    transform: rotate(0deg);
    border-width: 1px;
  }
  50% {
    transform: rotate(180deg);
    border-width: 10px;
  }
  100% {
    transform: rotate(360deg);
    border-width: 1px;
  }
}
.padding-left {
  padding-left: 0px !important;
}
.padding-right {
  padding-right: 0px !important;
}
.form-select:focus {
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}
/* button effect */
.btn-transform-effect {
  position: relative;
  z-index: 2;
}
.btn-transform-effect:before {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #34364b;
  border-radius: 999px;
  transition: all 0.5s ease-in-out;
  z-index: -1;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.btn-transform-effect:hover:before,
.btn-transform-effect:focus:before {
  -webkit-transform: scale(0);
  transform: scale(0);
}
.swiper-button-prev,
.swiper-button-next {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.085);
  width: 30px;
  height: 30px;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.2em;
  color: #31302e;
}
.swiper-button-prev:hover:after,
.swiper-button-next:hover:after {
  color: #feb63c;
}
.heading {
  text-align: center;
  position: relative;
}
.heading h6 {
  position: relative;
  font-weight: 700;
  color: #1b609a;
}
.heading h6::after,
.heading h6::before {
  content: ".....";
  font-size: 25px;
  vertical-align: bottom;
  color: #1b609a;
  margin: 0 10px;
}
.heading h2 {
  font-weight: 700;
}
.heading p {
  color: #bbbcbb;
  font-size: 0.85em;
}
.button {
  border: none;
  padding: 0.54rem 0.75rem;
  background-color: #feb63c;
  font-size: 0.75rem;
  color: #292c3d;
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
  border: 1px solid #feb63c;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}
.button:hover {
  box-shadow: 160px 0px 12px #292c3d inset;
  color: #feb63c;
}
/* helper end */

/* Being Pages inner  */
.inner-banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 35px;
  background-image: linear-gradient(
      to right,
      rgba(25, 25, 25, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url(../img/header_bg.jpg);
}
.inner-banner h2 {
  color: #fff;
  font-size: 45px;
  font-weight: 600;
  text-align: center;
}
/* // being about */
.about_wrapper {
  width: 100%;
  padding: 80px 0px;
  background-color: #ffffff;
}
.about_img {
  overflow: hidden;
}
.about_img img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.hm_about_data a.hm_btn {
  margin-top: 14px;
}
.about_img:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.hm_about_data {
  width: 100%;
  float: left;
}
.hm_about_data h1 {
  color: #484848;
  font-size: 35px;
  margin: 0px;
  padding-bottom: 40px;
  font-weight: bold;
}
.hm_about_data p {
  font-size: 16px;
  color: #484848;
  line-height: 24px;
  margin-bottom: 24px;
}
.hm_btn {
  color: #ffffff;
  height: 45px;
  text-transform: uppercase;
  font-size: 16px;
  display: inline-block;
  padding: 12px 41px;
  line-height: 19px;
  border-radius: 0px;
  position: relative;
  overflow: hidden;
  border: 1px solid #feb63c;
  z-index: 1;
  -moz-transition: ease 0.35s all;
  -o-transition: ease 0.35s all;
  -webkit-transition: ease 0.35s all;
  transition: ease 0.35s all;
}
.hm_color {
  color: #feb63c;
}
/* // end about */
/* // being portfolio-box */
.portfolio-sec {
  position: relative;
  overflow: hidden;
}
.portfolio-box ul {
  font-size: 0;
  text-align: center;
}
.portfolio-box ul li {
  display: inline-block;
  width: 24%;
  margin-bottom: 15px;
  margin-right: 15px;
}
.portfolio-box ul li .portfolio-item {
  -webkit-box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 1);
  box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 1);
  position: relative;
}
.portfolio-box ul li .portfolio-item .hover-effect {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s ease-in-out;
  opacity: 0;
  background-color:  rgba(52, 54, 75, 0.8);
}
.portfolio-box ul li .portfolio-item .hover-effect a {
  color: #fff;
  font-size: 50px;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio-box ul li:hover .hover-effect {
  opacity: 1;
  height: 100%;
  width: 100%;
}
/* // end portfolio-box */
/* // being contact-info */
.contact-wrapper {
  width: 100%;
  padding: 80px 0px;
  background-color: #ffffff;
}
.contact-box {
  width: 100%;
  text-align: center;
  border: 2px solid #feb63c;
  padding: 25px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.contact-box:before {
  content: "";
  position: absolute;
  background: #feb63c;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
  -webkit-transform-origin: center top;
  -moz-transform-origin: center top;
  -ms-transform-origin: center top;
  -o-transform-origin: center top;
  transform-origin: center top;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.contact-box:hover:before {
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  -o-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
}
.contact-box:hover i.fa,
.contact-box:hover h2,
.contact-box:hover p,
.contact-box:hover p a {
  color: #ffffff;
}
.contact-box i.fa {
  font-size: 35px;
  color: #feb63c;
}
.contact-box h2 {
  margin: 10px 0px 15px;
  font-size: 24px;
  text-transform: capitalize;
  font-weight: bold;
}
.contact-box p {
  margin-bottom: 0px;
  font-size: 16px;
}
.contact-box p a {
  font-size: 16px;
  color: #484848;
}
.contact-box p a:hover {
  text-decoration: none;
}
.contact-map #contact-map {
  width: 100%;
  height: 545px;
}

/* // end contact-info */
/* being contact form wrapper */
.contact-form-wrapper {
  width: 100%;
  background-color: #feb63c;
}
.hm_form {
  width: 100%;
  float: left;
  padding: 50px 0px;
  padding-left: 45px;
}
.hm_form h1 {
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
  text-transform: capitalize;
  margin: 0px;
  padding-bottom: 30px;
}
.hm_form .hm_btn:focus {
  color: #ffffff;
}
.hm_form .form-control {
  width: 100%;
  height: 45px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #555;
  border: 1px solid transparent;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
.con_btn {
  width: 100%;
  float: left;
}
.hm_form .form-group input[type="text"]:focus,
.hm_form .form-group input[type="password"]:focus,
.hm_form .form-group input[type="tel"]:focus,
.hm_form .form-group input[type="email"]:focus,
.hm_form .form-group input[type="search"]:focus,
.hm_form .form-group select:focus,
.hm_form .form-group textarea:focus {
  outline: none;
  border-color: #ffffff !important;
}
.hm_form .form-group {
  width: 44%;
  float: left;
  margin-bottom: 30px;
  margin-right: 30px;
}
.hm_form .form-group.textarea {
  width: 92%;
  height: 140px;
}
.hm_form .form-group.textarea .form-control {
  height: 140px;
  resize: none;
}
.hm_form .hm_btn {
  color: #ffffff;
  border: 1px solid #fff;
}
.hm_form .hm_btn:before {
  background-color: #ffffff;
  -webkit-transform: scale(0);
  transform: scale(0);
  border-radius: 0px;
}
.hm_form .hm_btn:hover:before {
  background-color: #ffffff;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.hm_form .hm_btn:hover {
  color: #feb63c;
}
.hm_form .form-control::-webkit-input-placeholder {
  color: #484848;
}
.hm_form .form-control::-moz-placeholder {
  color: #484848;
}
.hm_form .form-control:-ms-input-placeholder {
  color: #484848;
}
.hm_form .form-control:-moz-placeholder {
  color: #484848;
}

/* end contact form wrapper */
/* // being sitemap */
.sitemap ul li a{
  color: #292c3d !important;
}
.sitemap ul li a.active:after,
.sitemap ul li a:after {
  content: "";
  position: absolute;
  width: 0px;
  height: 2px;
  background-color: #f27560;
  left: 0px;
  bottom: 0px;
  transition: all 0.5s ease-in-out;
}
.sitemap ul li a.active:after,
.sitemap ul li a:hover:after {
  width: 100%;
}
.sitemap ul li a:focus,
.sitemap ul li a:hover,
.sitemap ul li a.active {
  color: #f27560;
}
/* // end sitemap */
/* end Pages inner  */

/* Being Mobile Responisve */
@media (max-width: 1400px) {
 .logo h2 {
    font-size: 1.3rem;
  }
  .banner {
    min-height: 469px;
  }
  .telephone-sec a {
    font-size: 0.85rem;
  }
  .list-product {
    max-width: 190px;
  }
}
@media (max-width:767px) {
 .logo .btn i{
    color: #fff;
  }
  .list-product {
    max-width: 154px;
}
.list-product-caption .rating span,
.list-product-caption .rating .far,
.list-product-caption .rating .fas{
  font-size: .68rem;
}

.btn-transform-effect.footer-top-icon::before,
.btn-transform-effect.footer-top-icon{
  width:36px;
  height: 36px;
}
.footerBottom p{
  margin-bottom: 1.5rem;
}
.search-wrapper button{
  display: flex;
justify-content: center;
align-items: center;
width: 100%;
font-size: 0.68rem;
}
.telephone-sec{
  justify-content: end;
}
.btn-transform-effect.footer-top-icon{
  margin-right: .85rem;
}
.footer-topper .search-wrapper{
  margin-top: .85rem;
}
.telephone-sec a {
  font-size: 0.75rem;
}
header .container .row{
  height: auto;
}
.search-wrapper .form-control{
  border-radius: 4px 0 0 4px;
}
.portfolio-box ul li {
  display: inline-block;
  width: 44%;
  margin-bottom: 15px;
  margin-right: 15px;
}
.contact-box{
  margin-bottom: .85rem;
}
.hm_form .form-group {
  width: auto;
  float: none;
  clear: both;
}
}
/* End Mobile Responisve */
