*{
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
  }
html:focus-within {
    scroll-behavior: smooth;
  }
body::-webkit-scrollbar {
    width: .2em;
}
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
  body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden !important;
    font-size: 16px;
    color: #161c2d;
}
a{
	text-decoration:none;
}
/* topbar start */
.topbar{
  background-color: #292c3d;
  color: #929393;
  padding: 13px 0px;
}
.topbar ul,
.topbar p{
  margin: 0;
  font-size: 15px;
}
.topbar a{
  color: #929393;
  text-decoration-line:underline;
  text-decoration-style: dotted;
  text-underline-position: under;
}

.topbar .form-select{
  background-color:transparent;
  color: #929393;
  border:none;
  padding: 0px 1rem;
  background-image: url("../img/dropdown.svg");

}

/* topbar end */
/* // being header */
header{
  background-color: #34364b;
  padding: 1.31em 0px;
}
header .container .row{
  align-items: center;
    display: flex;
    flex-flow: row wrap;
    padding-left: 15px;
    padding-right: 15px;
    height: 70px
}
header .logo h2{
color: #ffffff;
font-size: 1.5rem;
}
.logo-name{
  font-family: 'Pacifico', cursive;
}
.search-wrapper .col-auto{
  margin-top: 0;
}
.search-wrapper .form-select{
  background-color: #edeeef;
  max-width: 136px;
  width: 100%;
  font-size: .75rem;
  border-radius: 4px 0 0 4px;
  border: none;
  padding: .55rem .75rem;
  -webkit-padding-end: 30px !important;
   -webkit-padding-start: 10px !important;
}
.search-wrapper .form-control{
  background-color: #ffffff;
  min-width: 585px;
  width: 100%;
  font-size: .75rem;
  border-radius: 0px;
  border: none;
  padding: .55rem .75rem;
}
.search-wrapper button{
  border: none;
  padding: .55rem .75rem;
  background-color: #feb63c;
  font-size: .75rem;
  color:#292c3d;
  border-radius: 0 4px 4px 0;
}
.fillHeart,
.fillCart{
  display: none;
}
.user-account{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}
.user-account li svg{
  fill: #ffffff;
}
/* // end header */
/* // being navigation */
/* // end navigation */
/* // being slider-banner */
/* // end slider-banner */
/* // being Category */
.categories h5{color: #292c3d;font-size: 1em;}
.categories h6{color: #bbbcbb;font-size: .75em;}
/* // end Category */
/* helper */
#loader {
    position: fixed;
    top: 0;
    left: 0px;
    right: 0px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    bottom: 0px;
    z-index: 9;
}
/* spinner */
.spinner {
  width: 100px;
  height: 100px;
  position: relative;
}
.spinner div {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 8px solid transparent;
  border-top-color: #ad60f5;
  border-radius: 50%;
  animation: spinnerOne 1.2s linear infinite;
}
.spinner div:nth-child(2) {
  border: 8px solid transparent;
  border-bottom-color: #ad60f5;
  animation: spinnerTwo 1.2s linear infinite;
}

@keyframes spinnerOne {
  0% { transform: rotate(0deg); border-width: 10px; }
  50% { transform: rotate(180deg); border-width: 1px; }
  100% { transform: rotate(360deg); border-width: 10px; }
}
@keyframes spinnerTwo {
  0% { transform: rotate(0deg); border-width: 1px; }
  50% { transform: rotate(180deg); border-width: 10px; }
  100% { transform: rotate(360deg); border-width: 1px; }
}
.form-select:focus {
  border-color:transparent;
  outline: 0;
  box-shadow: none;
}
/* helper end */
